{% for cart_item in cart_items %}
    <div class="cart-item">
        <h2>{{ cart_item.product.name }}</h2>
        <p>Price: ${{ cart_item.product.price }}</p>
        <p>Quantity: {{ cart_item.quantity }}</p>
        <form method="POST" action="{% url 'increment_quantity' cart_item.id %}">
            {% csrf_token %}
            <button type="submit">+</button>
        </form>
        <form method="POST" action="{% url 'decrement_quantity' cart_item.id %}">
            {% csrf_token %}
            <button type="submit">-</button>
        </form>
        <form method="POST" action="{% url 'delete_from_cart' cart_item.id %}">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        
    </div>

{% empty %}
    <p>Your cart is empty.</p>
{% endfor %}
