
<h1>HOME</h1>

{% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}

<!-- Your products list HTML code -->

<a href="{% url 'cart_view' %}">Cart</a>
<a href="{% url 'contact_view' %}">Contact</a>
<a href="{% url 'help_view' %}">Help</a>



{% for product in products %}
    <div class="product-item">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>Price: ${{ product.price }}</p>
        {% if product.image_url %}
            <img src="{{ product.image_url }}" alt="{{ product.name }}" width="200">
        {% endif %}
        <form method="post" action="{% url 'cart_add' %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <input type="number" name="quantity" value="1" min="1">
            <input type="submit" value="Add to Cart">
        </form>
    </div>
{% endfor %}
